html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/vendor.css?v={VERSION}")
    link(rel="stylesheet", href="assets/css/main.css?v={VERSION}")
    script(src="assets/js/vendor.js?v={VERSION}")
    script(src="assets/js/main.js?v={VERSION}")
    title Hello World
  body
